@model TrainingPlan.Models.CourseViewModel

@{
    ViewBag.Title = "Management and Leadership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

			<!-- our work single -->
			<div class="single-work">
				
				<div class="container">
				
				    <div class="row">

				        <div class="port-left col-md-8">
				            <div class="flexslider">
				                <ul class="slides">
				                    <li>
                                        <img alt="Management and Leadership Image" src="~/Content/Images/Updated/management-and-leadership.png" />
				                    </li>
							
				                </ul>
				            </div>
				        </div>

				        <div class="port-right col-md-4">
							
				            @*<div class="post-pag">
								<a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
								<a href="#" class="middle"><i class="fa fa-th"></i></a>
								<a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
								<div class="clear"></div>
							</div>*@
							
				            <h1 class="leftmain-title">Management & Leadership</h1>
				            <div class="leftmain-border"></div>

				            <p class="mb20">BTB’s management and leadership courses have been developed by experienced training consultants, all having come from senior management positions. With this knowledge, our trainers have the ability to relate our training methods to real life scenarios. Our Management & Leadership portfolio provides managers with pragmatic, robust programmes which are challenging, rewarding and inspiring.</p>
                            
				            <p>With a vast range of methods, tools and techniques as well as applying the latest thinking, managers and leaders will leave with a toolkit to work with their teams to become more productive. </p>
                            
				            <p>Please contact the team on 07539 393496 or <a href="mailto:enquiries@btbtraining.com">enquiries@btbtraining.com</a> to discuss how we can help support your requirements.</p>

				            @*<a href="#" class="continue mb30 mt30">View Project <i class="fa fa-angle-right"></i></a>*@

				            @*<ul class="port-socials">
								<li><a href="#"><i class="fa fa-twitter"></i></a>  |</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a>  |</li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a>  |</li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a>  |</li>
								<li><a href="#"><i class="fa fa-skype"></i></a>  |</li>
							</ul>*@
                            
                    

				        </div>	
				    </div>
				    <div class="row">
				              <div class="port-right col-md-4" style="width: 40%;">
					        <h1 class="leftmain-title">Courses</h1>
				                  <ul>
				                @*                                            @foreach (var courseName in Model.Courses)
                                      {
                                        <li><a href="@Url.Content("~/Content/Courses/ManagementAndLeadership/" + courseName)">@courseName.Replace(".docx", "")</a>  |</li>
                                      }*@
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Establishing-And-Developing-Relationships"})">Establishing And Developing Relationships</a> |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Introduction-To-Change-Management"})">Introduction To Change Management</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Employee-Motivation"})">Employee Motivation</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Advanced-Finance"})">Advanced Finance</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Working-Capital-Management"})">Working Capital Management</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Commercial-Awareness"})">Commercial Awareness</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Managing-Remote-Teams"})">Managing Remote Teams</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Coaching-And-Mentoring"})">Coaching And Mentoring</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Problem-Solving-And-DecisionMaking"})">Problem Solving And Decision Making</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Project-Management-Overview"})">Project Management Overview</a>  |</li>
                                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Absence-Management"})">Absence Management</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Having-Difficult-Conversations"})">Having Difficult Conversations</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Introduction-To-Employment-Law"})">Introduction To Employment Law</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Diversity-Awareness"})">Diversity Awareness</a>  |</li>
				                      <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership", courseModule = "Diversity-Awareness-Manager-Event"})">Diversity Awareness Manager Event</a>  |</li>
				                  </ul>
					    </div>
				    </div>
							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work single -->

			@*<div class="recent-projects">
				<h1 class="main-title">Recent Projects</h1>
				<div class="list_carousel responsive">
					<ul id="foo4">
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent1.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent2.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent3.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent4.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent5.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent1.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent2.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent3.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent4.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="~/Content/Upload/portfolio/recent5.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
					</ul>
					<div class="clearfix"></div>
					<a id="prev3" class="prev" href="#">&lt;</a>
					<a id="next3" class="next" href="#">&gt;</a>
				</div>
				<!-- End List Carousel -->
			</div>
			<!-- End Latest Projects -->

			<div class="impression brown-bg">
				<div class="container">
					<h1>Are You Impressed?</h1>
					<p>This is call to action area. You can put any important text here</p>
					<a href="#" class="button-def">Get Started</a>
				</div>
			</div>*@


	<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
  	<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/Js/script.js"></script>

 	<!-- include jQuery + carouFredSel plugin -->
    <script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>

	
    <!-- Style Switcher -->
	<script src="~/Content/Js/styleswitch.js"></script>
	<script src="~/Content/Js/style_switch_custom.js"></script>

