@model TrainingPlan.Models.CourseViewModel
@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- our work single -->
<div class="single-work">

    <div class="container">

        <div class="row">

            <div class="port-left col-md-8">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img alt="Personal and Development Image" src="~/Content/Images/Updated/personal-development.png" />

                        </li>

                    </ul>
                </div>
            </div>

            <div class="port-right col-md-4">

                @*<div class="post-pag">
                        <a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="middle"><i class="fa fa-th"></i></a>
                        <a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
                        <div class="clear"></div>
                    </div>*@

                <h1 class="leftmain-title">Personal Development</h1>
                <div class="leftmain-border"></div>

                <p class="mb20">Having the right professional skills is a key component in Business today. BTB Training’s Personal Development portfolio focuses on turning potential into performance, empowering participants to become more self-aware of their default behaviours when working under pressure.</p>

                <p>By providing robust, tried and tested tools and methods, participants will be practically challenged and deeply engaged in their learning journey. Our training consultants will encourage participants to become actively involved in creating their very own action plans to take back into the workplace and apply. Improving behavioural levels and core habits and empowering participants to return with a refreshed ‘can do’ attitude.</p>
                <p>Please contact the team on 07539 393496 or <a href="mailto:enquiries@btbtraining.com">enquiries@btbtraining.com</a> to discuss how we can help support your requirements.</p>

                @*<a href="#" class="continue mb30 mt30">View Project <i class="fa fa-angle-right"></i></a>*@

                @*<ul class="port-socials">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>*@

            </div>
        </div>
        <div class="row">
            <div class="port-right col-md-4" style="width: 40%;">
                <h1 class="leftmain-title">Courses</h1>
                <ul>
                    @*                                      @foreach (var courseName in Model.Courses)
                        {
                          <li><a href="@Url.Content("~/Content/Courses/PersonalDevelopment/" + courseName)">@courseName.Replace(".docx", "")</a></li>
                        }*@

                    <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Personal-Development", courseModule = "Essential-Negotiation-Skills"})">Essential Negotiation Skills</a> |</li>
                    <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Personal-Development", courseModule = "Communication-And-People-Skills" })">Communication And People Skills</a> |</li>
                    <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Personal-Development", courseModule = "Personal-Impact-And-Effectiveness" })">Personal Impact And Effectiveness</a> |</li>
                    <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Personal-Development", courseModule = "Assertiveness" })">Assertiveness</a> |</li>
                    <li><a href="@Url.RouteUrl("courseModule", new { courseName = "Personal-Development", courseModule = "Advanced-Sales-Techniques"})">Advanced Sales Techniques</a></li>

                </ul>
            </div>
        </div>

    </div>
    <!-- End Portfolio -->

</div>
<!-- end our work single -->
@*<div class="recent-projects">
        <h1 class="main-title">Recent Projects</h1>
        <div class="list_carousel responsive">
            <ul id="foo4">
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent1.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent2.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent3.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent4.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent5.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent1.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent2.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent3.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent4.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <img src="~/Content/Upload/portfolio/recent5.jpg" alt="" />
                        <a href="#"><div class="mask">
                            <div class="bottom-post">
                                <h2>Project Title</h2>
                                <p>illustrations</p>
                            </div>
                        </div></a>

                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
            <a id="prev3" class="prev" href="#">&lt;</a>
            <a id="next3" class="next" href="#">&gt;</a>
        </div>
        <!-- End List Carousel -->
    </div>
    <!-- End Latest Projects -->

    <div class="impression brown-bg">
        <div class="container">
            <h1>Are You Impressed?</h1>
            <p>This is call to action area. You can put any important text here</p>
            <a href="#" class="button-def">Get Started</a>
        </div>
    </div>*@


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>