@model TrainingPlan.Models.ContactUsViewModel 
@{
    ViewBag.Title = "Contact Us";
}

		<div class="banner banner4">
			<div class="container">
				<h4>Contact Us</h4>
				<div class="site_map">
					@*<a href="index.html">Home</a> / Contact*@
				</div>
				<div class="clear"></div>
			</div>
		</div>

<div class="contact-content">

				<div class="contact">
					<div class="container">

						<div class="row">

						    <div class="col-md-8">
						        
                                @using (Html.BeginForm("EmailEnquiry", "Home", FormMethod.Post, new { id = "contact-form" }))
                                {
                                    @Html.TextBoxFor(m => m.Name, new { id = "name", name = "name", placeholder = "Name" })
                                    @Html.TextBoxFor(m => m.CompanyName, new { id = "companyName", name = "companyName", placeholder = "Company Name" })
                                    @Html.TextBoxFor(m => m.ContactNumber, new { id = "contactNumber", name = "contactNumber", placeholder = "Contact Number" })
                                    @Html.TextBoxFor(m => m.Email, new { id = "mail", name = "mail", placeholder = "Email" })
                                    @Html.TextBoxFor(m => m.Subject, new { id = "subject", name = "subject", placeholder = "Subject" })
                                    @Html.TextAreaFor(m => m.Message, new { id = "comment", name = "comment", placeholder = "Message"})
                                    
                                    <input type="submit" value="Send" name="Submit"  id="submit_contact" />

						            @*<div id="msg" class="message"></div>*@
                                    }

						       @* <form id="contact-form" action="#">
						            <input name="name" id="name" type="text" placeholder="Name">

						            <input name="mail" id="mail" type="text"  placeholder="Email">

						            <input name="subject" id="subject" type="text"  placeholder="Subject">	

						            <textarea name="comment" id="comment"  placeholder="Message"></textarea>

						            <input type="submit" value="Send"  id="submit_contact">
						            <div id="msg" class="message"></div>
						        </form>*@
						    </div>
							<!-- end contactfort -->
							<div class="col-md-4 touch">

								<h1 class="leftmain-title">Get in Touch</h1>
								<div class="leftmain-border"></div>

								<p>Business hours: 9:00 – 17:00 <br>
								Monday — Friday</p>
								<br>
								
								
								@*<p> <i class="fa fa-map-marker"></i> Little Lonsdale St, Talay <br>Victoria 8011 Philippines</p>

								<p><i class="fa fa-phone"></i>Phone:  + 1 888 246 56 23</p>*@

								<a href="mailto:enquiries@btbtraining.com"><i class="fa fa-envelope"></i>Email: enquiries@btbtraining.com</a>


								<ul class="contact-socials mt30">
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>
								</ul>

							</div>
						</div>
					</div>

				</div>

				@*<div class="map">
					<div id="map"></div>
				</div>*@
				<!-- End Map -->


			</div>
<!-- End Contact Content -->

	<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
  	<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="~/Content/Js/gmap3.min.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/Js/script.js"></script>


	
    <!-- Style Switcher -->
	<script src="~/Content/Js/styleswitch.js"></script>
	<script src="~/Content/Js/style_switch_custom.js"></script>